@page "/prompts/tablegenerator"
@inject IJSRuntime JSRuntime
@inject IChatGPTClient ChatClient

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Table Generator</Heading>
    </Column>
</Row>
<Row>
<Column ColumnSize="ColumnSize.Is10">
    <Row>
        <EditForm Model="@tableRequest" OnValidSubmit="@(async() => await HandleSubmitAsync())">
            <DataAnnotationsValidator />
            <Blazorise.ValidationSummary />
            <Field>
            <FieldLabel>Category</FieldLabel>
                <InputText @bind-Value="tableRequest.Description" Placeholder="NFL Teams"></InputText>
                <ValidationMessage For="@(() => tableRequest.Description)" />
            </Field>

            <Field>
                <FieldLabel>Items to return: @tableRequest.MaxItems</FieldLabel>
                <Slider @bind-Value="@tableRequest.MaxItems" Min="5" Max="30" />
                <ValidationMessage For="@(() => tableRequest.MaxItems)" />
            </Field>
            
            <Button Type="ButtonType.Submit" class="btn btn-primary float-end" Loading="@isLoading" Disabled="@isLoading">Submit</Button>
        </EditForm>
    </Row>
    
    <Row>
        <ErrorNotification Exception="@exception" />
    </Row>
    <Row>
        <Text>@TableResponse</Text>
        <Table>
            <TableHeader>
                <TableRow>
                @if(Fields is not null)
                {
                    foreach(string field in Fields)
                    {
                       <TableHeaderCell>@field</TableHeaderCell>
                    }
                }
                </TableRow>
            </TableHeader>
            <TableBody>
                @if (DataRows is not null)
                {
                    foreach (var row in DataRows)
                    {
                        <TableRow>
                            @foreach(var field in row)
                            {
                                <TableRowCell>@field</TableRowCell>
                            }
                        </TableRow>
                    }
                }
            </TableBody>
        </Table>
    </Row>
    <Row>
        @if(Fields is not null)
        {
                <Button Type="ButtonType.Button" class="btn btn-primary float-end" Clicked="@ExportCSV">Export</Button>
        }
    </Row>
</Column>
</Row>