@page "/prompts/tablegenerator"
@inject IJSRuntime JSRuntime
@inject IChatGPTClient ChatClient
@inject ILogger<TableGenerator> Logger

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Table Generator</Heading>
    </Column>
</Row>
<Row>
<Column ColumnSize="ColumnSize.Is10">
    <Row>
        <EditForm Model="@tableRequest" OnValidSubmit="@(async() => await HandleSubmitAsync())">
            <DataAnnotationsValidator />
            <Blazorise.ValidationSummary />
            <Field>
            <FieldLabel>Category</FieldLabel>
                <TextEdit @bind-Text="tableRequest.Category"  Placeholder="Most Populous Cities" ></TextEdit>
                <ValidationMessage For="@(() => tableRequest.Category)" />
            </Field>

            <Field>
                <FieldLabel>Items to return: @tableRequest.MaxItems</FieldLabel>
                <Slider @bind-Value="@tableRequest.MaxItems" Min="5" Max="30" />
                <ValidationMessage For="@(() => tableRequest.MaxItems)" />
            </Field>
            
            <FieldLabel>Attributes</FieldLabel>
            <Column ColumnSize="ColumnSize.IsFull">
            <Repeater Items="@tableRequest.Attributes" Context="attribcontext">
            <Field>
                <Row>
                     <Column ColumnSize="ColumnSize.Is2">
                        <FieldLabel Float="Float.End">Is Numeric</FieldLabel>
                        <Check TValue="bool" Disabled="@attribcontext.IsFixed" Float="Float.End" @bind-Checked="attribcontext.IsNumeric"/>
                     </Column>
                     <Column ColumnSize="ColumnSize.Is7">
                        <TextEdit ReadOnly="@attribcontext.IsFixed" @bind-Text="@attribcontext.Name" Float="Float.Default" />
                     </Column>
                     <Column ColumnSize="ColumnSize.Is1">
                        <Icon Visibility="IsVisible(attribcontext.IsFixed)" Name="IconName.Remove" Clicked="() => RemoveAttribute(attribcontext)" Float="Float.Start" />
                    </Column>
                </Row>
                <Row>
                <ValidationMessage For="@(() => attribcontext)" />
                </Row>
            </Field>
            </Repeater>
            </Column>
            <Button Type="ButtonType.Button" class="btn btn-primary" Float="Float.Start" Clicked="@AddAttribute" Disabled="@isLoading">Add</Button>
            <Button Type="ButtonType.Button" class="btn btn-primary" Float="Float.End" Clicked="@CancelRequest" Disabled="@(!isLoading)">Cancel</Button>
            <Button Type="ButtonType.Submit" class="btn btn-primary" Float="Float.End" Loading="@isLoading" Disabled="@isLoading">Submit</Button>
        </EditForm>
    </Row>
    
    <Row>
        <ErrorNotification Exception="@exception" />
    </Row>
    <Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Table>
            <TableHeader>
                <TableRow>
                @if(Fields is not null)
                {
                    foreach(string field in Fields)
                    {
                       <TableHeaderCell>@field</TableHeaderCell>
                    }
                }
                </TableRow>
            </TableHeader>
            <TableBody>
                @if (DataRows is not null)
                {
                    foreach (var row in DataRows)
                    {
                        <TableRow>
                            @foreach(var field in row)
                            {
                                <TableRowCell>@field</TableRowCell>
                            }
                        </TableRow>
                    }
                }
            </TableBody>
        </Table>
    </Column>
    </Row>
    <Row>
        <Column>
        @if(Fields is not null)
        {
                <Button Type="ButtonType.Button" class="btn btn-primary float-end" Clicked="@ExportCSV">Export</Button>
        }
        </Column>
    </Row>
        <Row Visibility="@completionDetailsVisibility">
            <br/>
            <CompletionResponseDetails CompletionUsage="@completionUsage" CompletionRequest="@gptCompletionRequest" />
    </Row>
</Column>
</Row>
