
<Alert Color="Color.Danger" @ref="errAlert">
    <CloseButton Float="Float.End" Clicked="@ErrorClosedAsync"/>
    <AlertDescription>
    @if(StatusCode is not null)
    {
        <div class="row">Status: @StatusCode</div>
    }

    @if(chatError is null)
    {
        <div class="row">Message: @exception?.Message</div>
    }
    else
    {
        @if (chatError?.Message is not null)
        {
            <div class="row">Message: @chatError.Message</div>
        }

        @if (chatError?.Type is not null)
        {
            <div class="row">Type: @chatError.Type</div>
        }

        @if (chatError?.Code is not null)
        {
            <div class="row">Code: @chatError.Code</div>
        }
    }
    </AlertDescription>

</Alert>
